
<div class="row send-ping-wrapper">
	<div class="large-12 columns">
		<h1 class="text-center hide-on-keyboard"><%= raw "#{gravatar_for(@user, size: 100)} #{@user.name}" %></h1>

		<%= form_for @ping, url: ping_user_path(@user) do |f| %>
		  <h3 class="hide-on-keyboard">Type your name below<br /></h3>
		  <%= f.text_field :message, {placeholder: "Who is pinging #{@user.first_name}?"} %><br />

		  <div class="row">
 		  	<div class="large-2 columns">
		  		<%= link_to "Back", root_path, {:class => "button large larger-btn primary"} %>
		  	</div>
		  	<div class="large-1 columns"></div>
		  	<div class="large-10 columns">
		  		<%= f.submit "Send Ping", {:class => "button large larger-btn success send-ping-submit"} %>
		  	</div>

		  </div>
		<% end %>
	</div>
</div>

<script type="text/javascript">

	var awesomeSendingGraphic = function() {
		var windowheight = +$(window).height();
		$('.send-ping-wrapper').css({"position": "absolute", "top": "0", "left": "0", "height": "0px", "width": "0", "overflow": "hidden"});
		$('#awesome-sending-graphic').css({"height": windowheight + "px"}).show();
	}

	$("#new_ping").on('submit', function(e) {
		$('.send-ping-submit').attr("disabled", "disabled");
		awesomeSendingGraphic();
	});

	$('#ping_message').on('focus', function() {
		$('.hide-on-keyboard').hide();
		$(this).css({"margin-top": "20px"});

	});
	$('#ping_message').on('blur', function() {
		$('.hide-on-keyboard').show();
		$(this).css({"margin-top": "0"});
	});
</script>