<div class="row">
    <div class="large-12 columns">
        <h1 class="main-header">
			<%= image_tag "makersquare-logo.png" %> Welcome to <span class="fat-text">MAKER</span><span class="skinny-text">SQUARE</span> <%= image_tag "makersquare-logo.png" %>
		</h1>
		<hr />
    </div>
    <div class="row">
	    <div class="large-12 columns">
			<% flash.each do |name, msg| %>
			  <% if msg.is_a?(String) %>
			    <div id="alert-box" class="alert alert-<%= name == :notice ? "success" : "error" %>">
			      <a class="close" data-dismiss="alert">&#215;</a>
			      <%= content_tag :span, msg, :id => "flash_#{name}" %>
			    </div>
			  <% end %>
			<% end %>
		</div>
	</div>
    <div class="large-12 columns">
    	<h3>Please select your contact to ping <!-- <i class="fa fa-comment-o"></i> --></h3>
    </div>

	<div class="large-12 columns ">
		<% @users.each do |u| %>
			<div class="large-4 columns user-button-rows">
				<%= link_to user_path(u), {class: "user-button"} do %>
					<div class="btn-photo">
						<%= raw "#{gravatar_for(u, size: 50)}" %>
					</div>
					<div class="btn-name-title">
						<div class="name"><%= u.name %></div>
						<div class="role"><%= u.role.titleize %></div>
					</div>
				<% end %>
			</div>
		<% end %>
	</div>
</div>